@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    font-family: "Nunito", sans-serif;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-drop-shadow-lg {
  filter: drop-shadow(-4px -4px 3px rgba(255, 255, 255, 0.5)) drop-shadow(4px 4px 3px rgba(0, 0, 0, 0.3));
}
.custom-drop-shadow {
    filter: drop-shadow(-3px -3px 3px rgba(255, 255, 255, 0.45)) drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
  }

  .custom-drop-shadow-sm {
    filter: drop-shadow(-2px -2px 1px rgba(255, 255, 255, 0.45)) drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
  }



  .custom-text-lg  {
    background:  rgba(94,104,121,0.9)  ;
    font-size: 5rem;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(209,213,219,1);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  }
  .custom-text-xo  {
    background:  rgba(0,0,0,0.4)   ;
    font-size: 5rem;
    color: transparent;
    text-shadow: 2px 2px 5px rgba(209,213,219,1);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  }
  .custom-text-md {
    background:  rgba(0, 0, 0, 0.3)  ;
    font-size: 2rem;
    color: transparent;
    text-shadow: 2px 2px 2px rgba(209,213,219,1);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  }

  .custom-text-sm {
    background:  rgba(0, 0, 0, 0.3)  ;
    font-size: 1rem;
    color: transparent;
    text-shadow: 2px 2px 2px rgba(209,213,219,1);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  }

  
  .radio-input .label input {
    display: none;
    
  }
  .label {
    background:  rgba(0, 0, 0, 0.3)  ;
    font-size: 1rem;
    color: transparent;
    text-shadow: 2px 2px 2px rgba(209,213,219,1);
    -webkit-background-clip: text;
       -moz-background-clip: text;
            background-clip: text;
  }

  
  .radio-input {
    display: flex;
    gap: 20px;
  }
  
  .radio-input .label {
    display: flex;
  }
  
  .radio-input .label .check {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    border: 3px solid transparent;
    box-shadow: 3px 3px 6px rgba(94,104,121,0.5),
     -1px -1px 4px rgba(255, 255, 255, 0.5);
  }
  
  .radio-input .label input:checked + .check {
    box-shadow: 3px 3px 6px rgba(94,104,121,0.5),
     -1px -1px 4px rgba(255, 255, 255, 0.5),
     inset 3px 3px 6px rgba(94,104,121,0.5),
     inset -1px -1px 4px rgba(255, 255, 255, 0.5);
    transform: scale(1.1);
  }